.main-wrapper {

    display: flex;
    flex-flow: column;
    align-content: center;
    margin: 30px auto 0;
    max-width: 700px;
}
#todoList {
    list-style: none;
    padding: 0;
}
#todoList li {
    padding: 7px;
}
#todoList li:nth-child(odd) {
    background-color: rgb(246, 246, 246);
}
#todoList li:nth-child(even) {
    background-color: rgb(254, 254, 254);
}
#inputText {
    width: 100%;
    max-width: 220px;
}
.rmBtn {
    float: right;
    cursor: pointer;
}
.editBtn {
    display: inline-block;
    margin-left: 5px;
    text-decoration: none;
    background-color: rgb(189, 189, 203);
    border-radius: 2px;
    float: right;
    padding: 0 10px;
    color: #292929;
    transition: 0.3s;
}
.editBtn:hover {
    color: rgb(189, 189, 203);
    background-color: #292929;
}
#modalEditInput {
    width: 100%;
    max-width: 500px;
    min-height: 50px;
    resize: vertical;
}